/* *{

   background-color: rgb(0, 255, 238);
    } */

    body{
        background-color: rgb(160, 237, 237);
    }
    header {
    background-color: greenyellow;

    }
    main{
        background-color: bisque;
    }
    img{
        width: 50%;
    
    }
    h3{
        text-align: center;
        background-color: azure;
    }
    footer{
        
        background-color: rgb(69, 3, 3);
    }
    /* SELECTOR DE CLASES */
   .parrafos{
    background-color: rgb(215, 250, 220);
       
    }
    .centrarimg{
        text-align: center;
        
    }
   
    
   

   